# put here your custom config value
menu "Light Clock Configuration"

config LC_MDNS_HOSTNAME
    string "mDNS Hostname"
    default "lightclock"
    help
    Hostname for use by the mDNS responder (will have .local appended)

config LC_MDNS_INSTANCE
    string "mDNS Instance Name"
    default "Light Clock"
    help
    Human-readable mDNS Instance Name

config LC_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for the example to connect to.

config LC_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config LC_LED_STRIP_1_DATA_PIN
    int "LED Strip 1 Data Pin"
    default 12
    help
	GPIO pin number connected to LED strip 1's Data pin

config LC_LED_STRIP_2_DATA_PIN
    int "LED Strip 2 Data Pin"
    default 13
    help
	GPIO pin number connected to LED strip 2's Data pin

config LC_HTTP_SETTINGS_BUFFER_SIZE
    int "Maximum length of settings JSON contents"
    default 2048
    help
    Specifies the length of the buffers used to both stringify/send and receive settings JSON

config LC_HTTP_OTA_RX_BUFFER_SIZE
    int "OTA update HTTP buffer size (speed vs. RAM tradeoff)"
    default 2048
    help
    Specifies the length of the buffer used to receive and then copy data to flash during OTA updates. While the underlying APIs take arbitrary sizes, this should be an integer multiple of the flash page size. (The ESP32-WROOM-32 uses GD25Q32 SPI flash with a page size of 256 bytes.)

endmenu
